.theme-plugin-CYJ-Theme {
  --theme-page: #F7C626;
  --theme-page-text: #000000;
  --theme-page-text-light: #110B06;
  --theme-page-instructions-text: #000000;
  --theme-page-instructions-background: rgba(200,200,200,0.4);
  --theme-modal: #fff;

  --theme-intro-gradient-1: rgba(255,255,255,0);
  --theme-intro-gradient-2: rgba(255,255,255,0.95);

  --theme-header-text: #000000;
  --theme-caption-text: #000;
  --theme-caption-read: #462a16;
  --theme-announcements-gradient-1: rgba(255,255,255,0);
  --theme-announcements-gradient-2: rgba(255,255,255,0.95);

  --theme-line-separator: #1B1813;
  --theme-wallet-overview-border: #714315;

  --theme-table-row-hover: #714315;
  --theme-transaction-sent: #000000;
  --theme-transaction-sent-arrow: #CB1F19;
  --theme-transaction-received: #000000;
  --theme-transaction-received-arrow: #F9C725;
  --theme-send-circle-second-signature: ##000000;
  --theme-send-circle-second-signature-text: ##F9C725;
  --theme-send-circle-register-delegate: #000000;
  --theme-send-circle-register-delegate-text: #F9C725;
  --theme-send-circle-vote: #F9C725;
  --theme-send-circle-vote-text: #000000;
  --theme-transaction-detail-gradient1: #402208;
  --theme-transaction-detail-gradient2: #1B1813;
  --theme-transaction-detail-arrow: #f2f7f2;

  --theme-wallet-new-selected: #402208;
  --theme-wallet-new-unselected: #CB1F19;
  --theme-wallet-sign-verify-message-text: #c5cfde;
  --theme-wallet-grid-shadow: 0 5px 30px rgba(124,138,192,0.22);

  --theme-feature: #B48D25;
  --theme-feature-item-text: #110B06;
  --theme-feature-item-hover: #1B1813;
  --theme-feature-item-alternative: #714315;
  --theme-feature-item-alternative-text: #2E2E2D;
  --theme-feature-item-hover-text: #1B1813;
  --theme-feature-item-selected: #232020;
  --theme-feature-item-selected-text: #F9C725;
  --theme-feature-item-indicator: #714315;

  --theme-secondary-feature: #F9C725;

  --theme-button-special-choice: #462a16;

  --theme-heading-background: #F9C725;
  --theme-heading-text: #F9C725;

  --theme-chart-background: #1B1813;
  --theme-chart-price: #F9C725;

  --theme-button: #000000;
  --theme-button-active: #462a16;
  --theme-button-text: #F9C725;
  --theme-button-light: #f1f5f8;
  --theme-button-light-text: #F9C725;
  --theme-button-inner-box: #000000;
  --theme-action-button: #2E2E2D;
  --theme-action-button-text: #F9C725;
  --theme-action-button-text-hover: #000000;
  --theme-option-button: #CB1F19;
  --theme-option-button-hover: #cc5e60;
  --theme-option-button-text: #402208;
  --theme-switch-button: #e0f0fd;
  --theme-option-heading-button: #B48D25;
  --theme-option-heading-button-hover: #CB1F19;
  --theme-option-heading-button-text: #000000;
  --theme-input-toggle-choice: #714315;
  --theme-input-toggle-choice-text: #606f7b;
  --theme-input-field-border: #b9c2d7;
  --theme-modal-footer-button: #e7d28e;
  --theme-modal-footer-button-text: #b3a36f;

  --theme-explanation-background: #e2edf8;
  --theme-explanation-text: #ffffff;

  --theme-settings: white;
  --theme-settings-hover: #f0f1f8;
  --theme-settings-sub: #2d3747; /* NOTE: not used on light theme */
  --theme-settings-button: #2d3747; /* NOTE: not used on light theme */
  --theme-settings-heading: #2d3747;
  --theme-settings-border: #cc1f1a;
  --theme-settings-text: #F9C725;
  --theme-settings-text-hover: #8a91b8;
  --theme-settings-switch: #f1f4f7;
  --theme-settings-control-title: #2d3747;

  --theme-voting-banner-background: #714315;
  --theme-voting-banner-text: #7f95ab;
  --theme-voting-banner-button: #cfddec;
  --theme-voting-banner-button-hover: #CB1F19;
  --theme-voting-banner-button-text: #714315;
  --theme-voting-banner-button-text-hover: #adc4e0;

  --theme-fee-gradient-start: var(--theme-modal);
  --theme-fee-gradient-end: rgba(0,124,255,0.20);
  --theme-fee-handler-outside: var(--theme-button-text);
  --theme-fee-handler-inside: var(--theme-modal);
  --theme-fee-range-track: var(--theme-page-text-light);
  --theme-fee-range-track-active: var(--theme-button-text);
  --theme-fee-range-shadow: rgba(9, 100, 228, 0.34);
}
